@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  animation: scroll 60s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
